
process {

container = "${baseDir}/envs/2022-gpx4-scanpy.sif" // Run all above processes in same singularity container

  // Per-process configuration
  
  withName: LOAD_ADATA {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: RUN_SCAR {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: EMPTY_DROPLETS {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: RUN_SCVI_AND_SOLO {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: ANNOTATE_CELL_TYPES {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: DENOISED_PSEUDOBULK {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: DESeq2_DGEA {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
    container = "${baseDir}/envs/2022-gpx4-deseq.sif"
  }
  withName: VOLCANO {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: UMAP {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: PROGENY {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: COMPOSITION {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: Plot_GOI_Levels {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
    container = "${baseDir}/envs/2022-gpx4-deseq.sif"
  }
  withName: "JUPYTER.*" {
        ext.kernel = "python3"
        // container = "${projectDir}/containers/2022-schneeberger-liver-scanpy_2022-10-24.sif"
        //container = null
        //conda = "/data/projects/2022/CRCA/envs/2022-crca-scanpy"
        publishDir = [
            path: { "${params.resDir}/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
        cpus = 2
    }
  withName: "RMARKDOWN.*" {
        container = null
        conda = "/home/marteau/.conda/envs/test_render_r"
        publishDir = [
            path: { "${params.resDir}/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
        cpus = 2
    }
  
  withName: CONVERT_EXTRACT_ADATA {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: CONVERT_ASSEMBLE_SEURAT {
    publishDir = [path: { "${params.resDir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
    container = "${baseDir}/envs/2022-gpx4-deseq.sif"
  }

withLabel: gpu {
      clusterOptions = { '-V -S /bin/bash -l gpu' }
      containerOptions = "--nv"
  }

}
